@model RepReady.Models.Comment

<h2 class="text-center mb-4">Editare Comentariu</h2>

<form asp-action="Edit" asp-controller="Comments" asp-route-id="@Model.Id" method="post" class="comment-edit-form">

    <div class="form-group">
        <label asp-for="Content" class="form-label">Conținut comentariu</label>
        <br />
        <textarea asp-for="Content" class="form-control"></textarea>
        <span asp-validation-for="Content" class="text-danger"></span>
    </div>

    <br /><br />

    <div class="form-group text-center">
        <button class="btn btn-primary submit-btn" type="submit">Editează Comentariul</button>
    </div>

</form>

