<form method="post" asp-action="New" asp-controller="WorkoutInvitations">

    <div class="form-group">
        <label for="email">User Email</label>
        <input type="email" id="email" name="Email" class="form-control" required />
    </div>

    <!-- WorkoutId -->
    <div class="form-group">
        <input type="hidden" name="WorkoutId" value="@ViewBag.Workout.Id" />
    </div>

    <br />

    <!-- Submit Button -->
    <button type="submit" class="btn btn-success">Trimite invitație</button>

</form>
